{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigiato</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo"><h1>Vigiato</h1></div>
            <div class="search-box">
                <form>
                    <label>
                    <input type ="text" name ="search" id ="srch" placeholder="Search">
                    </label>
                    <button type ="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/Shop">Codes</a></li>
            <li><a href="/ContactUs">Contact</a></li>
            <li>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="cart"></ion-icon></a>
                <a href="#"><ion-icon name="log-in"></ion-icon></a>
            </li>
        </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    <section class="container1">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="../static/image/Call-of-Duty-Modern-Warfare-2-5.png">
                <img id="slide-2" src="../static/image/social-image-chapter4-s3-3840x2160-d35912cc25ad.png">
                <img id="slide-3" src="../static/image/Jujutsu-Kaisen-Cursed-Clash-Announced_07-01-23.png">
                <img id="slide-4" src="../static/image/1282982.png">
            </div>
        </div>
    </section>
    <!-- skills section -->
    <div class="skillIcon">
        <section class="skills clearfix">
            <!-- single skill -->
            <article class="skill">
                <span class="skill-icon">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </span>
                <h3 class="skill-title">All you need</h3>
                <!-- ten words -->
                <p class="skill-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                    sequi.
                </p>
            </article>
            <!-- end of single skill -->
            <!-- single skill -->
            <article class="skill">
                <span class="skill-icon">
                    <i class="fa fa-file" aria-hidden="true"></i>
                </span>
                <h3 class="skill-title">Free Download</h3>
                <!-- ten words -->
                <p class="skill-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                    sequi.
                </p>
            </article>
            <!-- end of single skill -->
            <!-- single skill -->
            <article class="skill">
                <span class="skill-icon">
                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                </span>
                <h3 class="skill-title">Safe pay</h3>
                <!-- ten words -->
                <p class="skill-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                    sequi.
                </p>
            </article>
            <!-- end of single skill -->
            <!-- single skill -->
            <a href="/LoginSignup">
                <article class="skill">
                    <span class="skill-icon">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </span>
                    <h3 class="skill-title">Sign_in / Login</h3>
                    <!-- ten words -->
                    <p class="skill-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
                        sequi.
                    </p>
                </article>
            </a>
            <!-- end of single skill -->
        </section>
    </div>
    <!--end of skills section -->
    <!-- Start items -->
<div class="container-item">
    <div class="card">
        <div class="circle">
            <img src="../static/image/FIFA-23-Crack-Status.png">
        </div>
        <div class="content-item">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="card">
        <div class="circle">
            <img src="../static/image/EA-Sports-FC-24-1-800x450.png">
        </div>
        <div class="content-item">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="card">
        <div class="circle">
            <img src="../static/image/msm2_gameplayreveal_petemiles_4k_legal_2023.png">
        </div>
        <div class="content-item">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="card">
        <div class="circle">
            <img src="../static/image/msm2_gameplayreveal_petemiles_4k_legal_2023.png">
        </div>
        <div class="content-item">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <a href="">READ MORE</a>
        </div>
    </div>
</div>
    <!-- end items -->
<!-- Latest news start -->
<div class="container5">
   <h1 class="heading">Our Daily Posts</h1>
   <div class="box-container">

      <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
             </div>
        </div>
        <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
        </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>
             <div class="box">
         <div class="image">
            <img src="../static/image/FIFA-23-Crack-Status.png" alt="">
         </div>
         <div class="content">
            <h3>New spyder man is Amazing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, adipisci!</p>
            <a href="{#}" class="btn">read more</a>
            <div class="icons">
               <span> <i class="icon-calendar"></i> 21st may, 2022 </span>
               <span> <i class="icon-user"></i> by admin </span>
            </div>
         </div>
      </div>

      <!-- Rest of the boxes... -->

   </div>

   <div id="load-more"> load more </div>
</div>
<!-- Latest news end -->

<!--Lastest news end-->
    <h2 class="plan">OUR</br>PLANS</h2>
    <!-- Start plans -->
    <section class="main2">
    <div class="container-fluid">
        <div class="container-plan">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card2 text-center">
                <div class="title">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h2>Basic</h2>
                </div>
                <div class="price">
                    <h4><sup>T</sup>100</h4>
                </div>
            <div class="option">
                <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 4 Project download </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> VIP file download </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Tutorials Video </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                </ul>
            </div>
            <a href="#">Subscribe Now </a>
            </div>
                </div>
                <div class="col-sm-4">
                    <div class="card2 text-center">
                <div class="title">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h2>Basic</h2>
                </div>
                <div class="price">
                    <h4><sup>T</sup>200</h4>
                </div>
            <div class="option">
                <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 8 project download </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 8 project download </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Tutorials Video </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                </ul>
            </div>
            <a href="#">Subscribe Now </a>
            </div>
                </div>

        <div class="col-sm-4">
            <div class="card2 text-center">
                <div class="title">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <h2>Standard</h2>
                </div>
            <div class="price">
                <h4><sup>T</sup>300</h4>
            </div>
            <div class="option">
                <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> 15 project download </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> VIP project download </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Tutorials Video </li>
                    <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                </ul>
            </div>
            <a href="#">Subscribe Now </a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card2 text-center">
                <div class="title">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <h2>Premium</h2>
                </div>
            <div class="price">
                <h4><sup>T</sup>400</h4>
            </div>
            <div class="option">
                <ul>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Project download </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> VIP project download </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Tutorials Video </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Live Support </li>
                </ul>
            </div>
            <a href="#">Subscribe Now </a>
            </div>
        </div>

        </div>
        </div>
    </div>
</section>
    <!-- End plans -->
    <!-- end o fcontact -->
    <footer class="footer">
        <div class="section-center">
            <div class="social-icons">
            <!-- social icon -->
            <a href="#" class="social-icon">
            <ion-icon name="navigate"></ion-icon>
            </a>
            <!-- end of social icon -->
            <!-- social icon -->
            <a href="#" class="social-icon">
            <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <!-- end of social icon -->
            <!-- social icon -->
            <a href="#" class="social-icon">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <!-- end of social icon -->
        </div>
        <p class="footer-text">
            &copy;2023 <span class="text-primary">Vigiato</span>. all rights
            reserved
        </p>
        </div>
    </footer>
<!--     JS Start -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>

let loadMoreBtn = document.querySelector('#load-more');
let currentItem = 3;

loadMoreBtn.onclick = () =>{
   let boxes = [...document.querySelectorAll('.container5 .box-container .box')];
   for (var i = currentItem; i < currentItem + 3; i++){
      boxes[i].style.display = 'inline-block';
   }
   currentItem += 3;

   if(currentItem >= boxes.length){
      loadMoreBtn.style.display = 'none';
   }
}
</script>
    <!-- JS END -->
</body>
</html>