<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup/Login</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="Bgimg">
<!-- Navbar -->
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo"><h1>Vigiato</h1></div>
            <div class="search-box">
                <form>
                    <label>
                    <input type ="text" name ="search" id ="srch" placeholder="Search">
                    </label>
                    <button type ="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/Shop">Codes</a></li>
            <li><a href="/ContactUs">Contact</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a href="/Logout"><ion-icon name="log-out"></ion-icon></a>
                {% else %}
                    <a href="/LoginSignup"><ion-icon name="log-in"></ion-icon></a>
                {% endif %}
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="/Product"><ion-icon name="cart"></ion-icon></a>
            </li>
        </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
<!-- Navbar end -->

    <div class="wrapper">
        <div class="form-box login">
            <h2>Reset Password</h2>
            <form method="POST" action="/ForgotPassword/">
                {% csrf_token %}
                {{ form.errors }}
                <div class="input-box">
                    <span class="iconNew"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="forgot-mail" required>
                    <label>Email</label>
                </div>
                <button id="loginsubmit" type="submit" class="btn">Reset</button>
                <div class="login-register">
                    <p>Find your password?<a href="/LoginSignup" class="register-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>

<!-- JS CODE -->
    <!--<script src="../static/js/script.js"></script>-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
