{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="Bgimg2">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo"><h1>Vigiato</h1></div>
            <div class="search-box">
                <form>
                    <label>
                    <input type ="text" name ="search" id ="srch" placeholder="Search">
                    </label>
                    <button type ="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/News">News</a></li>
            <li><a href="/Shop">Codes</a></li>
            <li><a href="/ContactUs">Contact</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a href="/Logout"><ion-icon name="log-out"></ion-icon></a>
                {% else %}
                    <a href="/LoginSignup"><ion-icon name="log-in"></ion-icon></a>
                {% endif %}
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="/Product"><ion-icon name="cart"></ion-icon></a>
            </li>
        </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
<!--        Lastest news start-->
    <div id="page" class="site">
        <div class="container-news">
            <main>
                <div class="post">
                    <ul>
                        <li class="upper">
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/FIFA-23-Crack-Status.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Football</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/EA-Sports-FC-24-1-800x450.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Football</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/msm2_gameplayreveal_petemiles_4k_legal_2023.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Marvel</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/FIFA-23-Crack-Status.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Football</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/EA-Sports-FC-24-1-800x450.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Football</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/msm2_gameplayreveal_petemiles_4k_legal_2023.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Marvel</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/msm2_gameplayreveal_petemiles_4k_legal_2023.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Marvel</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail">
                                <a href="#"><img src="../../static/image/msm2_gameplayreveal_petemiles_4k_legal_2023.png"></a>
                            </div>
                            <div class="meta">
                                <h2><a href="#0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                                <p>september 28, 2023</p>
                                <p>in <a href="#">Marvel</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
    <div class="flex">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <div class="bar"></div>
        </ul>
    </div>
<!--        Lastest news end-->
</body>
</html>